.formControl.error textarea,
.formControl.error input {
    border: 1px solid red;
}

.formControl.error span {
    display: block;
    font-size: 20px;
    color: red
}

.summaryError {
    width: 150px;
    text-align: center;
    padding: 5px;
    color: rosybrown;
    border: 1px solid red;
}