.about{
    display: flex;
    padding: 10px;
}

.about img {
    width: 250px;
    margin-right: 35px;

}

.description{
    font-size: 20px;

}
.name{
    font-size: 25px;
    font-family: "Georgia";
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

h3{
    padding-left: 70px;
}